<%# Images folder: /app/assets/images %>

<div class="header">
  <%#= image_tag "popcorn.jpg", alt:"popcorns", class: "popcorn" %>
  <%= link_to movies_path do %>
    <%= image_tag "popcorn.jpg", alt: "popcorns", class: "popcorn" %>
  <% end %>
  <div class="top-links">
    <%= link_to "My lists", root_path(@lists), class: "non-underlined" %>
    <%= link_to "New list", new_list_path, class: "non-underlined" %>
  </div>
</div>

<div class="banner">
  <%#= image_tag "cinema.jpg", alt:"banner image", class: "cinema" %>
  <h1>Save any kind of movies</h1>
  <p>- Add your best movies -</p>
</div>

<div class="lists">
  <div class="lists-header">
    <h2>My Lists</h2>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-success" %>
  </div>
  <div class="row">
  <% @lists.each do |list| %>
    <div class="movie-card col-4" style="background-image: url('<%= cl_image_path list.photo.key, height: 300, width: 400, crop: :fill %>');">
      <%= link_to list.name, list_path(list), class: "non-underlined card-link" %>
      <%= link_to list_path(list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "delete-msg" do %>
          <span><i class="fa-solid fa-trash-can"></i> Delete</span>
      <% end %>
    </div>
  <% end %>
  </div>
</div>

<%# Import image testing %>
<%#= cl_image_tag("ka8s9fvfxywtg8ovzoxd", width: 400, height: 300, crop: :fill) %>
<%#= cl_image_tag("vdalbfnnzdtu0ttekamb", width: 150, height: 150, crop: :thumb, gravity: :face) %>
