<div class="list-creation">
  <h1>New List</h1>

  <!-- app/views/lists/_form.html.erb -->
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name, input_html: { class: "create-list" } %>
    <%= f.input :photo, input_html: { class: "file-upload" }, as: :file %>
    <%= f.submit "Create List", class:"btn btn-success" %>
  <% end %>
  <br>
  <%= link_to "Go back to my lists", root_path, class:"non-underlined" %>
</div>
